.team {
  padding: 100px 0;
  &__row {
  }

  &__text {
    margin-bottom: 78px;
  }

  &__title {
    margin-bottom: 29px;
  }

  &__par {
  }

  &__people {
  }
  @media (max-width: 1200px) {
    padding: 80px 0;
    &__text {
      margin-bottom: 50px;
    }

    &__title {
      margin-bottom: 25px;
    }
  }
  @media (max-width: 1024px) {
    padding: 70px 0;
    &__text {
      margin-bottom: 40px;
    }

    &__title {
      margin-bottom: 22px;
    }
  }
  @media (max-width: 768px) {
    padding: 50px 0;
    &__text {
      margin-bottom: 30px;
    }

    &__title {
      margin-bottom: 12px;
    }
  }
}

.people {
  &__slider {
    display: flex;
  }

  &__slider--photo {
    justify-content: center;
    align-items: center;
    max-width: 460px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  &__photo {
    padding: 0 25px;
    img {
      width: 100px;
      height: 100px;
    }
  }

  &__slider--info {
  }

  &__text {
  }
  @media (max-width: 1200px) {
    &__slider--photo {
      margin-bottom: 30px;
    }

    &__photo {
      padding: 0 25px;
      img {
        width: 100px;
        height: 100px;
      }
    }
  }
  @media (max-width: 1024px) {
    &__slider--photo {
      margin-bottom: 25px;
    }

    &__photo {
      padding: 0 25px;
      img {
        width: 100px;
        height: 100px;
      }
    }
  }
  @media (max-width: 768px) {
    &__slider--photo {
      max-width: 276px;
      margin-bottom: 20px;
    }

    &__photo {
      padding: 0 15px;
      img {
        width: 60px;
        height: 60px;
      }
    }
  }
}
.text-people {
  @media (max-width: 768px) {
    max-width: 387px;
  }

  max-width: 645px;
  margin: 0 auto;
  // text-align: center;
  &__title {
    h4 {
      font-size: 18px;
      line-height: 25px;
      font-weight: 700;
      color: #061e37;
    }
    margin-bottom: 20px;
  }

  &__subtitle {
    p {
      font-size: 15px;
      line-height: 25px;
      font-weight: 400;
      color: #90a4ae;
    }
    margin-bottom: 30px;
  }

  &__socials {
  }
}
.socials-people {
  &__list {
    display: flex;
    justify-content: center;
    li {
      padding: 0 15px;
    }
  }

  &__link {
    i {
      font-size: 20px;
      line-height: 25px;
      font-weight: 400;
      color: #90a4ae;
    }
  }
}

.people__slider--photo.slick-slider {
  position: relative;
  max-height: 100%;
  .slick-track,
  .slick-list {
  }
  .slick-list {
    overflow: hidden;
  }
  .slick-track {
    display: flex;
    align-items: center;
    height: 200px;
    @media (max-width: 768px) {
      height: 110px;
    }
  }
  .slick-slide {
    text-align: center;
    transition: 0.3s all;
    opacity: 0.2;
    &.slick-current {
      padding: 0 55px;
      img {
        transform: scale(1.6);
      }
      opacity: 1;
      @media (max-width: 768px) {
        padding: 0 33px;
      }
    }
  }
}

.people__slider--info.slick-slider {
  position: relative;
  max-height: 100%;
  .slick-track,
  .slick-list {
  }
  .slick-list {
    overflow: hidden;
  }
  .slick-track {
    display: flex;
    align-items: center;
  }
  .slick-slide {
    text-align: center;
  }
}
