.footer {
  padding: 100px 0;
  background-color: #061e37;
  &__row {
    @include flex(row, wrap);
  }

  &__column {
    flex: 0 1 50%;
    &:nth-child(1),
    &:nth-child(2) {
      margin-bottom: 54px;
    }
  }
  &__menu {
    justify-content: flex-end;
  }
}

.policy {
  &__list {
    @include flex();
    margin: 0 -22px;
  }

  &__item {
    padding: 0 22px;
    position: relative;
    &:nth-child(1),
    &:nth-child(2) {
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translate(50%, -50%);
        right: 0;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #ffffff;
      }
    }
  }
  &__link {
    opacity: 0.5;
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    color: #ffffff;
    &:hover {
      opacity: 1;
    }
  }
}
.socials-footer {
  &__list {
    display: flex;
    margin: 0 -10px;
    justify-content: flex-end;
  }

  &__item {
    padding: 0 10px;

    i {
      opacity: 0.2;
      font-size: 20px;
      line-height: 25px;
      font-weight: 400;
      letter-spacing: 0.03em;
      color: #ffffff;
      &:hover {
        opacity: 1;
      }
    }
  }
}
